<div class="form-panel">
    <mat-card>
        <mat-card-header class="mb-10">
            <mat-card-title class="title-bottom-space">{{ title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <ng-container *ngFor="let control of formConfig">
                    <mat-form-field *ngIf="control.type === 'text'" appearance="fill" class="w-100">
                        <mat-label>{{ control.label }}</mat-label>
                        <input matInput [formControlName]="control.name">
                        <mat-error *ngIf="form.controls[control.name].hasError('required')">
                            {{ control.label }} is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="control.type === 'number'" appearance="fill" class="w-100">
                        <mat-label>{{ control.label }}</mat-label>
                        <input matInput type="number" [formControlName]="control.name">
                        <mat-error *ngIf="form.controls[control.name].hasError('required')">
                            {{ control.label }} is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="control.type === 'select'" appearance="fill" class="w-100">
                        <mat-label>{{ control.label }}</mat-label>
                        <mat-select [formControlName]="control.name" [multiple]="control.multiple">
                            <mat-option *ngFor="let option of control.options" [value]="option.value">
                                {{ option.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="control.type === 'date'" appearance="fill" class="w-100">
                        <mat-label>{{ control.label }}</mat-label>
                        <input matInput type="date" [formControlName]="control.name">
                        <mat-error *ngIf="form.controls[control.name].hasError('required')">
                            {{ control.label }} is required.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="control.type === 'email'" appearance="fill" class="w-100">
                        <mat-label>{{ control.label }}</mat-label>
                        <input matInput type="email" [formControlName]="control.name">
                        <mat-error *ngIf="form.controls[control.name].hasError('required')">
                            {{ control.label }} is required.
                        </mat-error>
                        <mat-error *ngIf="form.controls[control.name].hasError('email')">
                            Invalid email format.
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="control.type === 'password'" appearance="fill" class="w-100">
                        <mat-label>{{ control.label }}</mat-label>
                        <input matInput type="password" [formControlName]="control.name">
                        <mat-error *ngIf="form.controls[control.name].hasError('required')">
                            {{ control.label }} is required.
                        </mat-error>
                        <mat-error *ngIf="form.controls[control.name].hasError('pattern')">
                            Password must contain at least one letter, one number, and be at least 8 characters long.
                        </mat-error>
                        <mat-error *ngIf="form.controls[control.name].hasError('mustMatch')">
                            Passwords do not match.
                        </mat-error>
                    </mat-form-field>

                </ng-container>
                <button mat-raised-button color="primary" type="submit" class="w-100">{{ title }}</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>