.login-panel {
    margin: auto;
    width: 50%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.errorMsg {
    margin-bottom: 4px;
}