<mat-toolbar color="primary" class="fixed-toolbar">
    <img class="logo" src="./assets/images/logo.png" alt="Logo">
    <button mat-button class="title">BIBLIOSPHERE</button>
    <span class="spacer"></span>
    <button mat-button>About</button>
    <button mat-button>Contact</button>
    <ng-container *ngIf="isUserAuthenticated || !isOnLoginPage">
        <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
            Account
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
    </ng-container>
</mat-toolbar>