<ng-container *ngIf="books && books.data.length > 0; else noBooks">
    <div class="table-container">

        <mat-toolbar color="primary">Book List</mat-toolbar>

        <mat-form-field>
            <input matInput #input (keyup)="applyFilter(input.value)" placeholder="Filter">
        </mat-form-field>

        <mat-table [dataSource]="books" class="book-table">

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let book; columns: displayedColumns;"></mat-row>

            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                <mat-cell *matCellDef="let book"> {{ book?.id }} </mat-cell>
            </ng-container>

            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                <mat-cell *matCellDef="let book"> {{ book.title }} </mat-cell>
            </ng-container>

            <!-- Author Column -->
            <ng-container matColumnDef="author">
                <mat-header-cell *matHeaderCellDef> Author </mat-header-cell>
                <mat-cell *matCellDef="let book"> {{ book.author }} </mat-cell>
            </ng-container>

            <!-- Publisher Column -->
            <ng-container matColumnDef="publisher">
                <mat-header-cell *matHeaderCellDef> Publisher </mat-header-cell>
                <mat-cell *matCellDef="let book"> {{ book.publisher }} </mat-cell>
            </ng-container>

            <!-- isbn Column -->
            <ng-container matColumnDef="isbn">
                <mat-header-cell *matHeaderCellDef> ISBN </mat-header-cell>
                <mat-cell *matCellDef="let book"> {{ book.isbn }} </mat-cell>
            </ng-container>

            <!-- Publication Year Column -->
            <ng-container matColumnDef="publication_year">
                <mat-header-cell *matHeaderCellDef> Publication Year </mat-header-cell>
                <mat-cell *matCellDef="let book"> {{ book.publication_year | date:'mediumDate' }} </mat-cell>
            </ng-container>

            <!-- Page Count Column -->
            <ng-container matColumnDef="page_count">
                <mat-header-cell *matHeaderCellDef> Page Count </mat-header-cell>
                <mat-cell *matCellDef="let book"> {{ book.page_count }} </mat-cell>
            </ng-container>

            <!-- Library Column -->
            <ng-container matColumnDef="library">
                <mat-header-cell *matHeaderCellDef> Library </mat-header-cell>
                <mat-cell *matCellDef="let book"> {{ book.libraryName }} </mat-cell>
            </ng-container>

            <!-- Loans Column -->
            <ng-container matColumnDef="loans">
                <mat-header-cell *matHeaderCellDef> Loaned </mat-header-cell>
                <mat-cell *matCellDef="let book">
                    <ng-container *ngIf="hasLoans(book); else noLoans">
                        <button mat-raised-button color="primary" (click)="openLoanDetailsModal(book.activeLoanIds[0])">
                            Details
                        </button>
                    </ng-container>
                    <ng-template #noLoans>No</ng-template>
                </mat-cell>
            </ng-container>



            <!-- Categories -->
            <ng-container matColumnDef="categories">
                <mat-header-cell *matHeaderCellDef> Categories </mat-header-cell>
                <mat-cell *matCellDef="let book"> {{ book.bookCategoryNames?.join(', ') }} </mat-cell>
            </ng-container>


            <!-- Actions Column - for Update and Delete actions -->
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                <mat-cell *matCellDef="let book">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <!--     <button mat-menu-item (click)="openBookDetailsModal(book)">
                            <mat-icon>pageview</mat-icon>
                            <span>View Details</span>
                        </button>
                        <button mat-menu-item (click)="deleteBook(book)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button mat-menu-item (click)="toggleBookStatus(book)">
                            <mat-icon>block</mat-icon>
                            <span>Toggle Active Status</span>
                        </button>-->
                    </mat-menu>
                </mat-cell>
            </ng-container>



        </mat-table>
    </div>
</ng-container>

<ng-template #noBooks>
    <p>No books found.</p>
</ng-template>