@mixin close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    .mat-icon {
        color: white;
    }
}

@mixin detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    mat-card {
        width: 100%;
        overflow: visible;
    }

    .mat-mdc-card-header .mat-mdc-card-header-text {
        width: 100%;
    }
}