<div class="table-container">

    <app-breadcrumb></app-breadcrumb>

    <mat-toolbar color="primary">Search</mat-toolbar>

    <mat-form-field>
        <input matInput #input (keyup)="applyFilter(input.value)" placeholder="Filter">
    </mat-form-field>

    <mat-table [dataSource]="data">

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let item; columns: displayedColumns;"></mat-row>

        <ng-container *ngFor="let column of columnsConfig" [matColumnDef]="column.key">
            <mat-header-cell *matHeaderCellDef> {{ column.title }} </mat-header-cell>
            <mat-cell *matCellDef="let item">
                <ng-container *ngIf="column.key === 'dropdown'; else notDropdownTemplate">
                    <ng-template [ngTemplateOutlet]="dropdownMenuTemplate"
                        [ngTemplateOutletContext]="{ $implicit: item }"></ng-template>
                </ng-container>
                <ng-template #notDropdownTemplate>
                    <ng-container *ngIf="column.render; else defaultTemplate">
                        <ng-container *ngIf="column.type === 'action'; else notActionColumnTemplate">
                            <button mat-raised-button color="primary"
                                *ngIf="column.actions && column.actions['modal'] && column.canDisplay && column.canDisplay(item)(); else noAction"
                                (click)="column.actions['modal'](item)">
                                Details
                            </button>
                            <ng-template #noAction> {{ column.fallbackDisplayText }}</ng-template>
                        </ng-container>
                        <ng-template #notActionColumnTemplate>
                            {{ column.render(item) }}
                        </ng-template>
                    </ng-container>

                    <ng-template #defaultTemplate>
                        {{ item[column.key] }}
                    </ng-template>
                </ng-template>
            </mat-cell>
        </ng-container>
    </mat-table>
</div>