@import '_variables';
@import '_common';

/* Host component styles */
:host {
  font-family: $base-font;
  font-size: 14px;
  color: $primary-color;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Specific UI components */
#ui-background {
  background: url('/assets/images/landing.png') black;
  background-size: 100%;
  width: 100vw;
  min-height: 100vh;

  @media (max-width: 1550px) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

#business-container {
  margin: auto;
  padding-top: 5%;
  width: 95%;
}