<ng-container *ngIf="categories && categories.data.length > 0; else noCategories">
    <app-generic-table [data]="categories" [columnsConfig]="displayedColumns" [dropdownMenuTemplate]="dropdownMenu">
        <ng-template #dropdownMenu let-item>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="handleAction({action: 'edit', item: item})">
                    <mat-icon>edit</mat-icon>
                    <span>Edit Category</span>
                </button>
            </mat-menu>
        </ng-template>
    </app-generic-table>
</ng-container>
<ng-template #noCategories>
    <p>No categories found.</p>
</ng-template>