<div class="user-panel">
    <mat-card>
        <mat-card-header class="mb-10">
            <mat-card-title>Create User</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()">

                <!-- First Name -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="first_name">
                    <mat-error *ngIf="createUserForm.controls['first_name'].hasError('required')">
                        First name is required.
                    </mat-error>
                </mat-form-field>

                <!-- Last Name -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="last_name">
                    <mat-error *ngIf="createUserForm.controls['last_name'].hasError('required')">
                        Last name is required.
                    </mat-error>
                </mat-form-field>

                <!-- Email -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" type="email">
                    <mat-error *ngIf="createUserForm.controls['email'].hasError('required')">
                        Email is required.
                    </mat-error>
                    <mat-error *ngIf="createUserForm.controls['email'].hasError('email')">
                        Invalid email format.
                    </mat-error>
                </mat-form-field>

                <!-- Address -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address">
                    <mat-error *ngIf="createUserForm.controls['address'].hasError('required')">
                        Address is required.
                    </mat-error>
                </mat-form-field>

                <!-- City -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city">
                    <mat-error *ngIf="createUserForm.controls['city'].hasError('required')">
                        City is required.
                    </mat-error>
                </mat-form-field>

                <!-- Province -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Province</mat-label>
                    <input matInput formControlName="province">
                    <mat-error *ngIf="createUserForm.controls['province'].hasError('required')">
                        Province is required.
                    </mat-error>
                </mat-form-field>

                <!-- Postal Code -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Postal Code</mat-label>
                    <input matInput formControlName="postal_code">
                    <mat-error *ngIf="createUserForm.controls['postal_code'].hasError('required')">
                        Postal code is required.
                    </mat-error>
                </mat-form-field>

                <!-- Birth Date -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Birth Date</mat-label>
                    <input matInput formControlName="birth_date" type="date">
                    <mat-error *ngIf="createUserForm.controls['birth_date'].hasError('required')">
                        Birth date is required.
                    </mat-error>
                </mat-form-field>

                <!-- Library -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Select a library</mat-label>
                    <mat-select formControlName="library">
                        <mat-option *ngFor="let library of libraries" [value]="library.id">
                            {{ library.name }} - {{ library.city }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" type="password">
                    <mat-error *ngIf="createUserForm.controls['password'].hasError('required')">
                        Password is required.
                    </mat-error>
                    <mat-error *ngIf="createUserForm.controls['password'].hasError('pattern')">
                        Password must contain at least one letter, one number, and be at least 8 characters long.
                    </mat-error>
                </mat-form-field>

                <!-- Confirm Password -->
                <mat-form-field appearance="fill" class="w-100">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput formControlName="confirm_password" type="password">
                    <mat-error *ngIf="createUserForm.controls['confirm_password'].hasError('required')">
                        Confirmation password is required.
                    </mat-error>
                    <mat-error *ngIf="createUserForm.controls['confirm_password'].hasError('mustMatch')">
                        Passwords do not match.
                    </mat-error>
                </mat-form-field>

                <mat-error *ngIf="errorMsg" class="mb-10">
                    {{errorMsg}}
                </mat-error>

                <button mat-raised-button color="primary" type="submit" class="w-100">Create</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
<div *ngIf="loading" class="overlay">
    <mat-spinner></mat-spinner>
</div>