<ng-container *ngIf="users && users.data.length > 0; else noUsers">
    <app-generic-table [data]="users" [columnsConfig]="displayedColumns" [actionMenuTemplate]="actionsMenu">
        <ng-template #actionsMenu let-item>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openUserDetailsModal(item)">
                    <mat-icon>pageview</mat-icon>
                    <span>View Details</span>
                </button>                
                <button mat-menu-item (click)="toggleUserStatus(item)">
                    <mat-icon>block</mat-icon>
                    <span>Toggle Active Status</span>
                </button>
            </mat-menu>
        </ng-template>
    </app-generic-table>
</ng-container>
<ng-template #noUsers>
    <p>No users found.</p>
</ng-template>