@import '_common';

/* User Panel styles */
.user-panel {
    @extend .panel;
    margin: auto;
    width: 50%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .user-panel {
        width: 90%;
    }
}